@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import './styles/reset.css';
@import './styles/variables.css';

body {
  background-color: var(--color-gray-900);
  color: var(--color-white);
  font-family: var(--font-family-base);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
